.component-button {
  display: inline-flex;

  width: 25%;
  justify-content: center;
  flex: 1 0 auto;
  height: 100%;
}

button {
  border: 0;
  background: var(--light-gray);
  margin: 0;
  flex: 1 0 auto;
  font-size: 4rem;

  margin: 0 1px 0 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.orange button {
  background: var(--orange);
  color: var(--white);
}
