* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-gray: #e0e0e0;
  --dark-gray: #858694;
  --orange: #f5923e;
}

#root,
html,
body {
  height: 100%;
  background: var(--dark-gray);
}

@media (min-width: 0px) and (min-height: 0px) {
  html {
    font-size: 43.75%;
  }
}

@media (min-width: 300px) and (min-height: 300px) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  html {
    font-size: 86.66%;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  html {
    font-size: 95.75%;
  }
}
